@page
@model RazorToDo.Pages.TodoModel
@{
    ViewData["Title"] = "Todo page";
}

<h1>Create Task</h1>
<form>
    <div class="mb-3">
        <label  class="form-label">Task title</label>
        <input type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label  class="form-label">Task description</label>
        <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>